body {
    font-family: 'Merriweather', serif;
    background-color: #7a86cb;
    color: #6849e3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div {
    position: relative;
}
h1 {
    letter-spacing: 2px;
    transition: all 1s linear;
}
h1:hover {
    color: #fff;
    letter-spacing: normal;
    transition: all 1s linear;
}
h1:before {
    position: absolute;
    top: 15px;
    right: 0;
    content: '';
    height: 2px;
    background-color: #6849e3;
    width: 0%;
    transition: width 1s ease;
}
h1:after {
    position: absolute;
    left: 0;
    top: 65px;
    content: '';
    height: 2px;
    background-color: #6849e3;
    width: 0%;
    transition: width 1s ease;
}
h1:hover:before,
h1:hover:after {
    width: 100%;
}